.app{
  width: 80%;
  height: auto;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
  /* background-color: #fff; */
  padding: 0 2rem;
}

.dark-theme {
  background: #000;
  color : #fff;
}

.light-theme {
  background: #ffffffd0;
  color: #000;

}